<!doctype html>
<html lang="en">


<!-- Mirrored from pixner.net/bitbetio/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 21:17:05 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitbetio - HTML Template</title>

    <link rel="shortcut icon" href="{{ asset('FrontOffice/assets/images/fav.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/plugin/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/plugin/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/plugin/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/arafat-font.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/plugin/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/style.css') }}">
</head>

<body>
<!-- start preloader -->
<div class="preloader" id="preloader"></div>
<!-- end preloader -->

<!-- Scroll To Top Start-->
<a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
<!-- Scroll To Top End -->

<!-- header-section start -->
<header class="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('FrontOffice/assets/images/logo.png') }}" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_front') }}">Home</a>
                            </li>
                            <li class="nav-item dropdown main-navbar">

                                <a   href="{{ path('app_backkkkk') }}">Dashboard</a>

                            </li>

                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown" data-bs-auto-close="outside">Evenement</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown" data-bs-auto-close="outside">Terrain</a>
                                <ul class="dropdown-menu main-menu shadow">
                                    <li><a class="nav-link" href="{{ path('frontterrain') }}">Terrain</a></li>
{#                                    <li><a class="nav-link" href="{{ path('affichert') }}">Personnel Terrain</a></li>#}
                                </ul>
                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown" data-bs-auto-close="outside">Stock</a>
                                <ul class="dropdown-menu main-menu shadow">
                                    <li><a class="nav-link" href="#">Escrow Bets Fee</a></li>
                                    <li><a class="nav-link" href="#">Currency Bet</a></li>
                                    <li><a class="nav-link" href="#">Betting Details</a></li>
                                    <li><a class="nav-link" href="#">Create Currency</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown" data-bs-auto-close="outside">Club</a>
                                <ul class="dropdown-menu main-menu shadow">
                                    <li><a class="nav-link" href="#">Escrow Bets Fee</a></li>
                                    <li><a class="nav-link" href="#">Currency Bet</a></li>
                                    <li><a class="nav-link" href="#">Betting Details</a></li>
                                    <li><a class="nav-link" href="#">Create Currency</a></li>
                                   </ul>
                                   </li>
                               <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown" data-bs-auto-close="outside">Match</a>
                                <ul class="dropdown-menu main-menu shadow">
                                    <li class="dropend sub-navbar">
                                        <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           data-bs-auto-close="outside">Tournaments</a>
                                        <ul class="dropdown-menu sub-menu shadow">
                                            <li><a class="nav-link" href="#">Tournaments</a></li>
                                            <li><a class="nav-link" href="#">Tournaments Details</a></li>
                                        </ul>
                                    </li>


                                    <li class="dropend sub-navbar">
                                        <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                           data-bs-auto-close="outside">Blog</a>
                                        <ul class="dropdown-menu sub-menu shadow">
                                            <li><a class="nav-link" href="#">Blog</a></li>
                                            <li><a class="nav-link" href="#">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="nav-link" href="#">Affiliate</a></li>
                                    <li><a class="nav-link" href="#">Faqs</a></li>
                                    <li><a class="nav-link" href="#">Privacy Policy</a></li>
                                    <li><a class="nav-link" href="#">Terms Conditions</a></li>
                                    <li><a class="nav-link" href="#">Error</a></li>
                                </ul>
                            </li>

                        </ul>
                        <div class="right-area header-action d-flex align-items-center max-un">
                            <button type="button" class="login" data-bs-toggle="modal" data-bs-target="#loginMod">
                                Login
                            </button>
                            <button type="button" class="cmn-btn reg" data-bs-toggle="modal" data-bs-target="#loginMod">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->

<!-- Login Registration start -->
<div class="log-reg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="modal fade" id="loginMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <ul class="nav log-reg-btn justify-content-around">
                                <li class="bottom-area" role="presentation">
                                    <button class="nav-link" id="regArea-tab" data-bs-toggle="tab"
                                            data-bs-target="#regArea" type="button" role="tab" aria-controls="regArea"
                                            aria-selected="false">
                                        SIGN UP
                                    </button>
                                </li>
                                <li class="bottom-area" role="presentation">
                                    <button class="nav-link active" id="loginArea-tab" data-bs-toggle="tab"
                                            data-bs-target="#loginArea" type="button" role="tab"
                                            aria-controls="loginArea" aria-selected="true">
                                        LOGIN
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="loginArea" role="tabpanel"
                                     aria-labelledby="loginArea-tab">
                                    <div class="login-reg-content">
                                        <div class="modal-body">
                                            <div class="head-area">
                                                <h6 class="title">Login Direetly With</h6>
                                                <div class="social-link d-flex align-items-center">
                                                    <a href="javascript:void(0)" class="active"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-linkedin-in"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="form-area">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <label for="logemail">Email</label>
                                                                <input type="text" id="logemail"
                                                                       placeholder="Email Address">
                                                            </div>
                                                            <div class="single-input">
                                                                <label for="logpassword">Password</label>
                                                                <input type="text" id="logpassword"
                                                                       placeholder="Email Password">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="remember-me">
                                                                <label
                                                                        class="checkbox-single d-flex align-items-center">
                                                                        <span class="left-area">
                                                                            <span class="checkbox-area d-flex">
                                                                                <input type="checkbox"
                                                                                       checked="checked">
                                                                                <span class="checkmark"></span>
                                                                            </span>
                                                                            <span
                                                                                    class="item-title d-flex align-items-center">
                                                                                <span>Remember Me</span>
                                                                            </span>
                                                                        </span>
                                                                </label>
                                                                <a href="javascript:void(0)">Forgot Password</a>
                                                            </div>
                                                        </div>
                                                        <span class="btn-border w-100">
                                                                <button class="cmn-btn w-100">LOGIN</button>
                                                            </span>
                                                    </div>
                                                </form>
                                                <div class="bottom-area text-center">
                                                    <p>Not a member ? <a href="javascript:void(0)" class="reg-btn">Register</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="regArea" role="tabpanel"
                                     aria-labelledby="regArea-tab">
                                    <div class="login-reg-content regMode">
                                        <div class="modal-body">
                                            <div class="head-area">
                                                <h6 class="title">Register On Bitbetio</h6>
                                                <div class="social-link d-flex align-items-center">
                                                    <a href="javascript:void(0)" class="active"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-linkedin-in"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="form-area">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <label for="regemail">Email</label>
                                                                <input type="text" id="regemail"
                                                                       placeholder="Email Address">
                                                            </div>
                                                            <div class="single-input">
                                                                <label for="regpassword">Password</label>
                                                                <input type="text" id="regpassword"
                                                                       placeholder="Email Password">
                                                            </div>
                                                            <div class="single-input">
                                                                <label>Country</label>
                                                                <select>
                                                                    <option value="1">United States</option>
                                                                    <option value="2">United Kingdom</option>
                                                                    <option value="3">Canada</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="remember-me">
                                                                <a href="javascript:void(0)">Have a referral
                                                                    code?</a>
                                                            </div>
                                                        </div>
                                                        <span class="btn-border w-100">
                                                                <button class="cmn-btn w-100">SIGN UP</button>
                                                            </span>
                                                    </div>
                                                </form>
                                                <div class="bottom-area text-center">
                                                    <p>Already have an member ? <a href="javascript:void(0)"
                                                                                   class="log-btn">Login</a></p>
                                                </div>
                                                <div class="counter-area">
                                                    <div class="single">

                                                        <div class="text-area">
                                                            <p>25,179k</p>
                                                            <p class="mdr">Bets</p>
                                                        </div>
                                                    </div>

                                                        <div class="text-area">
                                                            <p>6.65 BTC</p>
                                                            <p class="mdr">Total Won</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Registration end -->

{% block body  %}
{% endblock %}


<!-- Footer Area Start -->
<footer class="footer-section">
    <div class="container pt-120">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="newsletter">
                    <div class="section-text text-center">
                        <h5 class="sub-title">Subscribe Us</h5>
                        <h3 class="title">For Newsletter</h3>
                        <p>Subscribe to our newsletter to receive all the latest news and updates</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-area pt-120">
            <div class="row">
                <div class="col-xl-12">
                    <div class="menu-item">

                        <ul class="footer-link">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="terms-conditions.html">Terms of Services</a></li>
                            <li><a href="privacy-policy.html">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="copyright">
                        <div class="copy-area">
                            <p> Copyright © <a href="index.html">Bitbetio</a> | Designed by
                                <a href="https://themeforest.net/user/pixelaxis" class="auth">Pixelaxis</a>
                            </p>
                        </div>
                        <div class="social-link d-flex align-items-center">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!--==================================================================-->
<script src="{{ asset('FrontOffice/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/jquery-ui.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/fontawesome.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/slick.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/jquery.downCount.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/counter.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/waypoint.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/wow.min.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/plugin/plugin.js') }}"></script>
<script src="{{ asset('FrontOffice/assets/js/main.js') }}"></script>
</body>


<!-- Mirrored from pixner.net/bitbetio/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 21:17:16 GMT -->
</html>