{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

{#    {% block contenpage %}#}


{#<div class="example-wrapper">#}
{#    <div class="card">#}
{#        <div class="card-body">#}
{#            <h4 class="card-title">Terrain</h4>#}


{#            <section class="s-crossfit">#}
{#                <div class="container">#}
{#                    <h2>Rechercher Terrain</h2>#}
{#                    <div class="input-group custom-search-form">#}

{#                        <input type="text" id="search" class="form-control" placeholder="Search here">#}

{#                    </div>#}

{#                    {% include 'terrain/filter.html.twig' with { form_search : form_search} only %}#}


{##}
{#                   <div class="sidebar-search">#}

{#                        <div class="input-group custom-search-form">#}

{#                            <input type="text" id="search" class="form-control" placeholder="Search here">#}
{#                        </div>#}
{#                        <span style="display: flex;align-items: center;justify-content: center; width:150px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('aa') }}">Search</a></span>#}
{#                        <!-- /input-group -->#}
{#                    </div>#}

{#                    <div class="row" id="search">#}
{##}
{#                    </div>#}
{#                    <br><br><br><br>#}
{#                </div>#}
{#            </section>#}
{#           <script type="text/javascript">#}
{#                jQuery(document).ready(function () {#}
{#                    var searchRequest = null;#}
{#$("#search").keyup(function (){#}
{#    var minlength=1;#}
{#    var that=this;#}
{#    var value=$(this).val();#}
{#    var entitySelector= $("entitiesNav").html('');#}
{#    if(value.length>minlength){#}
{#        if(searchRequest !=null){#}
{#            searchRequest.abort();#}
{#            searchRequest = $.ajax({#}
{#                type: "GET",#}
{#                url:{{ path('search') }},#}
{#                data:{#}
{#                    't':value},#}
{#                dataType: "text",#}
{#                success:function (msg){#}
{#                    if(value===$(that).val()){#}
{#                        var result = JSON.parse(msg);#}
{#                        $.each(result,function (key,arr){#}
{#                            $.each(arr,function (id,value){#}
{#                                if(key==='posts'){#}
{#                                    if(id!=='error'){#}
{#                                        console.log(value[1]);#}
{#                                        entitySelector.append('<li><b>'+value[1]+'</b><a href=""')#}
{#                                    }#}
{#                                    else{#}
{#                                        entitySelector.append('<li class="errorLi">'+value+'</li>');#}
{#                                    }#}
{#                                }#}
{#                            })#}

{#                        })#}
{#                    }#}
{#                }#}
{#            })#}
{#        }#}
{#    }#}
{#})#}
{#                })#}
{#            </script>#}
{#            <script src="{{ asset('assets/js/jquery.js') }}"></script>#}
{#            <script#}
{#                    src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')}}">#}
{#            </script>#}
{#          #}{#  <script>#}
{#                $( document ).ready(function() {#}
{#                    var currentRequest = null;#}
{#                    $("#search").keyup(function(e){#}
{#                        /* La variable value va prendre la valeur insérer dans le champ de texte#}
{#                        afin d’effectuer la recherche */#}
{#                        var value = $(this).val();#}
{#                        if(currentRequest != null) {#}
{#                            currentRequest.abort();#}
{#                        }#}
{#                        /* Ajax est lancé lors du remplissage du champ texte dont l’id est#}
{#                        « search » pour faire la recherche */#}
{#                        currentRequest = $.ajax({#}
{#                            #}{##}{#url : "{{ path('') }}",#}{##}{##}
{#                            type : 'GET',#}
{#                            data: {#}
{#                                'searchValue' : value#}
{#                            },#}
{#                            success : function(retour)#}
{#                            {#}
{#                                $('#all').html(retour);#}
{#                            },#}
{#                        });#}
{#                        return false;#}
{#                    });#}
{#                });#}
{#            </script>#}



{#                    <br>#}
{#                    <br>#}
{#                    {% for message in app.flashes('info') %}#}
{#<div class="alert alert-success">#}
{#    {{ message }}#}
{#                    {% endfor %}#}
{#</div>#}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div class="card my-4">#}
{#                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">#}
{#                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="display: flex;justify-content: space-evenly">#}
{#                        <h6 class="text-white text-capitalize ps-3">Table des Terrains</h6>#}
{#                        <span style="display: flex;align-items: center;justify-content: center; width:150px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('addTerrain') }}">Ajouter Terrain</a></span>#}
{#                        <span style="display: flex;align-items: center;justify-content: center; width:190px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('display_personnel') }}">Afficher Personnel Terrain</a></span>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="card-body px-0 pb-2">#}
{#                    <div class="table-responsive p-0">#}
{#                        <table class="table align-items-center mb-0">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID Terrain</th>#}
{#                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type Terrain</th>#}
{#                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modifier</th>#}
{#                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Supprimer</th>#}
{#                                <th class="text-secondary opacity-7"></th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for terrain in b  %}#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <div class="d-flex px-2 py-1">#}

{#                                            <div class="d-flex flex-column justify-content-center">#}
{#                                                <h6 class="mb-0 text-sm"> {{terrain.idTerrain}}</h6>#}


{#                                            </div>#}
{#                                        </div>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <p class="text-xs font-weight-bold mb-0">{{terrain.typeTerrain}}</p>#}
{#                                        <p class="text-xs text-secondary mb-0"></p>#}
{#                                    </td>#}
{#                                    <td class="align-middle text-center text-sm">#}
{#                                        <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('modifierTerrain',{'id':terrain.idTerrain}) }}">Modifier</a></span>#}
{#                                    </td>#}
{#                                    <td class="align-middle text-center">#}
{#                                        <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('supp_terrain',{'id':terrain.idTerrain}) }}">Supprimer</a></span>#}
{#                                    </td>#}

{#                                </tr>#}

{#                                       {% endfor %}#}
{#                                       </tbody>#}


{#                                   </table>#}


{#                                  </div>#}
{#                                  </div>#}

{#                              </div>#}

{#    <span style="display: flex;align-items: center;justify-content: center; width:150px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('listTerrain') }}">PDF</a></span>#}
{#            <span style="display: flex;align-items: center;justify-content: center; width:150px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('stats') }}">Stats</a></span>#}
{#            <span style="display: flex;align-items: center;justify-content: center; width:150px" class="badge badge-sm bg-gradient-success"> <a href="{{ path('trier') }}">Trier Terrain</a></span>#}

{#                   </div>#}
{#             <div style="display: flex;justify-content: center;align-items: center;">#}
{#        {{ knp_pagination_render(b) }}#}
{#             </div>#}
{#    </div>#}
{#                </div>#}
{#            </section>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}
{#            {% endblock %}#}


